<h1> Ruby On Rails Help File </h1>
<p>This is the help file for the site LMAO<br />
if this works, then I did it right.</p>

<p>
  Get help on Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
